{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "next/core-web-vitals",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "standard-with-typescript",
    "plugin:react-hooks/recommended",
    // "plugin:@tanstack/eslint-plugin-query/recommended",
    "prettier"
  ],
  "ignorePatterns": ["dist", ".eslintrc.cjs"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": ["./tsconfig.json"]
  },
  "plugins": [
    "react",
    "import",
    "promise",
    "react-hooks",
    "@typescript-eslint",
    // "@tanstack/query",
    "prettier"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-confusing-void-expression": "off",
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/no-floating-promises": "off",
    "no-console": "warn",
    "no-unused-vars": "warn",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/consistent-type-imports": "off",
    "@typescript-eslint/strict-boolean-expressions": "off",
    "@typescript-eslint/no-misused-promises": [
      2,
      {
        "checksVoidReturn": {
          "attributes": false
        }
      }
    ],
    "@typescript-eslint/naming-convention": [
      "warn",
      {
        "selector": "variable",
        "format": ["camelCase", "PascalCase", "snake_case", "UPPER_CASE"]
      }
    ],
    "no-restricted-imports": [
      "error",
      {
        "patterns": [
          {
            "group": ["modules/*/*"],
            "message": "Please import only from the index file of the module."
          }
        ]
      }
    ],
    "import/order": [
      "error",
      {
        "groups": [["external", "builtin"],"internal", ["parent", "sibling"] , "index", ["object", "type"], "unknown"],
        "newlines-between": "always",
        "alphabetize": { "order": "asc", "caseInsensitive": true },
        "pathGroups": [
          {
            "pattern": "{react,react**}",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "{next,next/**}",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "**/*.+(css|sass|less|scss|pcss|styl)",
            "patternOptions": { "dot": true, "nocomment": true },
            "group": "unknown",
            "position": "after"
          },
          {
            "pattern": "{.,..}/**/*.+(css|sass|less|scss|pcss|styl)",
            "patternOptions": { "dot": true, "nocomment": true },
            "group": "unknown",
            "position": "after"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"]
      }
    ],
    "@tanstack/query/no-rest-destructuring": "off",
    "react-hooks/exhaustive-deps": "off",
    "prettier/prettier": "warn"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}